<!DOCTYPE html>

<html>
  <head>
    <title>Hipstream</title>
  </head>
  <body>
    <h1 style = "text-align: center">Welcome.</h1>
    <h5 style = "text-align: center">If a tree falls in the woods, and nobody's around to hear it, will a hipster buy the soundtrack? </h5>
    <br>
    <h4 style = "text-align: center">What's your hipster soundtrack?</h4>
    
    <form method = "GET"  action = "/question1">
      <input type = "submit" value = "Start">
    </form>
  </body>
</html>