<!DOCTYPE html>

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/questions.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <title>Hipstream</title>
  </head>
  <body>

    <h1>Hipstreams CHANGE ME GUYS1!!!!!!</h1>
    <form method = "POST" action = "/results">
      <!--QUESTION 1-->
      <h4>Starbucks vs. Neighborhood Coffee Shop</h4>
      <div class="q">
        <label>
          <img src="images/starbucks.png" height="100px"> <br>
          <input type="radio" name="q1" class="btn-style" value="0" /> Starbucks Coffee<br>
        </label>
      </div>
     
      <div class="q">
        <label>
          <img src="images/neighborhood-coffee.png" height="100px"> <br>
          <input type="radio" name="q1" class="btn-style" value="1" /> Neighborhood Coffee
        </label>
      </div>
      <!--END OF QUESTION 1-->
     
      
      <!-- QUESTION 2 -->
      <h4>Publix vs. Trader Joes</h4>
      <div class="q">
       <label>
          <img src="images/publix.png" height="130px"> <br>
      <input type="radio" name="q2" class="btn-style" value="0" /> Publix
      </label>
      </div>
    
      <div class="q">
      <label>
          <img src="images/Logo.png" height="120px"> <br>
      <input type="radio" name="q2" class="btn-style" value="1" /> Trader Joes
      </label>
      </div>
      
      <!--QUESTION 3 -->
      <h4>American Apparel vs. Thrift Shop</h4>
      <div class="q">
      <label>
          <img src="images/american-apparel.png" height="150px"> <br>
      <input type="radio" name="q3" class="btn-style" value="0" /> American Apparel
      </label>
      </div>
      
      <div class="q">
      <label>
          <img src="images/fur.png" height="130px"> <br>
      <input type="radio" name="q3" class="btn-style" value="1" /> Thrift Shop
      </label>
      </div>
<!--       QUESTION 4 -->
      <h4>Are you an extrovert or an introvert?</h4>
      <div class="q">
      <label>
          <img src="images/extrovert.png" height="100px"> <br>
      <input type="radio" name="q4" class="btn-style" value="0" /> Extrovert
      </label>
      </div>
      
      <div class="q">
      <label>
          <img src="images/introvert.png" height="100px"> <br>
      <input type="radio" name="q4" class="btn-style" value="1" /> Introvert
      </label>
      </div>
<!--       QUESTION 5 -->
      <h4>Converse vs. Birkenstocks</h4>
      <div class="q">
      <label>
          <img src="images/converse.png" height="100px"> <br>
      <input type="radio" name="q5" class="btn-style" value="0" /> Converse
      </label>
      </div>
      
      <div class="q">
      <label>
          <img src="images/birkenstock.png" height="100px"> <br>
      <input type="radio" name="q5" class="btn-style" value="1" /> Birkenstocks
      </label>
      </div>
<!--       QUESTION 6 -->
      <h4>Dog vs. Cat</h4>
      <div class="q">
      <label>
          <img src="images/cutedog.png" height="100px"> <br>
      <input type="radio" name="q6" class="btn-style" value="0" />Dog
      </label>
      </div>
      
      <div class="q">
      <label>
          <img src="images/cat.png" height="80px"> <br>
      <input type="radio" name="q6" class="btn-style" value="1" /> Cat
      </label>
      </div>
<!--       QUESTION 7 -->
      <h4>Mp3 vs. Vinyl</h4>
      <div class="q">
        <label>
          <img src="images/ipod.png" height="100px"> <br>
          <input type="radio" name="q7" class="btn-style" value="0" />Mp3
      </label>
      </div>
      
      <div class="q">
        <label>
          <img src="images/vinyl.png" height="100px"> <br>
          <input type="radio" name="q7" class="btn-style" value="1" /> Vinyl
      </label>
      </div>
      <br>
      <input type="submit" value="Label Me!" class="btn"/>

    </form>
  </body>
</html>