<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>One. Uno. Wahid. Ahat. Mot.</title>
  </head>
  <body>
          <h3 style = "text-align: center">American Apparel vs Thrift Shop<h3>
    <form method = "POST" action = "/question5">
     <input type="button" name="btn" class="btn-style" value="American Apparel" />
      <br>
      <input type="button" name="btn" class="btn-style" value="Thrift Shop" />
      <input type="submit" value="Next"/>
      
    </form>
  </body>
</html>