<!DOCTYPE html>

<html>
  <head>
    <title>One. Uno. Wahid. Ahat. Mot.</title>
  </head>
  <body>
          <h3 style = "text-align: center">Starbucks vs Neighborhood Coffee Shop<h3>
    <form method = "POST" action = "/question2">
      <input type = _____ name = "q1_answer_hipster">
      <input type = _____ name = "q1_answer_mainstream">
    </form>
  </body>
</html>