<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>One. Uno. Wahid. Ahat. Mot.</title>
  </head>
  <body>
          <h3 style = "text-align: center">Converse vs Birkenstock<h3>
    <form method = "POST" action = "/question6">
     <input type="button" name="btn" class="btn-style" value="Converse" />
      <br>
      <input type="button" name="btn" class="btn-style" value="Birkenstock" />
      <input type="submit" value="Next"/>
      
    </form>
  </body>
</html>